@model IEnumerable<VotingApp.Dto.Responses.PollResponse>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button onclick="location.href='@Url.Action("Create", "Polls")'" class="btn btn-success">Create New Poll</button>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedById)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedById)
                </td>
                <td>
                    @*@Html.ActionLink("Update", "Update", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id})*@

                    <button onclick="location.href='@Url.Action("Update", "Polls", new {  id=item.Id  })'" class="btn btn-info">Update</button>&nbsp;&nbsp;&nbsp;&nbsp;

                    <button onclick="location.href='@Url.Action("Delete", "Polls", new {  id=item.Id  })'" class="btn btn-danger">Delete</button>

                </td>
            </tr>
        }
    </tbody>
</table>
